/* navbar */

.nav-links {
  display: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  background: var(--clr-grey-10);
  transition: var(--transition);
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.brand-logo {
  color: var(--clr-secondary);
  font-size: 2rem;
  font-weight: 700;
}

.sub-brand-logo {
  color: var(--clr-primary);
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-secondary);
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--clr-primary);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

/* fixed navbar */

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 2;
  box-shadow: var(--light-shadow);
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-secondary);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--clr-primary);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-secondary);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: #bb2525;
}

.close-btn:hover {
  color: #e66b6b;
}

.show-sidebar {
  transform: translateX(0);
}

/* hero section */

.hero {
  background: var(--clr-grey-10);
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero-img {
  display: none;
}

.hero-info h1,
.hero-info p {
  color: var(--clr-secondary);
}

.hero-info p {
  width: 300px;
}

.hero-info h4 {
  color: var(--clr-primary);
}

.hero-icons {
  justify-items: start;
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }

  .hero-info p {
    width: 100%;
  }

  .hero-img {
    display: block;
    position: relative;
  }

  .hero-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  }
}

.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

/* project section */
.projects-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}

.card {
  height: 30rem;
  position: relative;
  perspective: 1500px;
}

.card-side {
  backface-visibility: hidden;
  transition: all 2s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  border: 2px solid #ebf0ee;
}

.card-front {
  background: #fff;
}

.card .card-back {
  background: #fff;
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0);
}

.card-front img,
.card-back img {
  height: 13rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card-info {
  display: grid;
  place-items: center;
  padding: 1rem 1.5rem;
}

.card-info ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  gap: 5px;
}

.card-info ul li {
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 6rem;
}

.card-footer .live {
  display: inline-block;
  justify-self: start;
}

.source {
  justify-self: end;
}
