/* navbar */

.nav-links {
  display: none;
}

.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  background: var(--clr-grey-10);
  transition: var(--transition);
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.brand-logo {
  color: var(--clr-secondary);
  font-size: 2rem;
  font-weight: 700;
}

.sub-brand-logo {
  color: var(--clr-primary);
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-secondary);
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }

  .nav-links a:hover {
    color: var(--clr-primary);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

/* fixed navbar */

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 2;
  box-shadow: var(--light-shadow);
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--clr-secondary);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--clr-primary);
}

.social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-secondary);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: #bb2525;
}

.close-btn:hover {
  color: #e66b6b;
}

.show-sidebar {
  transform: translateX(0);
}

/* hero section */

.hero {
  background: var(--clr-grey-10);
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero-img {
  display: none;
}

.hero-info h1,
.hero-info p {
  color: var(--clr-secondary);
}

.hero-info p {
  width: 300px;
}

.hero-info h4 {
  color: var(--clr-primary);
}

.hero-icons {
  justify-items: start;
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }

  .hero-info p {
    width: 100%;
  }

  .hero-img {
    display: block;
    position: relative;
  }

  .hero-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  }
}

.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

/* project section */

.section {
  text-align: center;
  position: relative;
}

.slide-container {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  display: grid;
  align-items: self-start;
  border: 2px solid #ebf0ee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide.next {
  transform: translateX(100%);
}

.slide.last {
  transform: translateX(-100%);
}

.img {
  height: 55vh;
  object-fit: cover;
  background: #fff;
  box-shadow: var(--dark-shadow);
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 0.75rem;
}

.project-title {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--clr-secondary);
  letter-spacing: var(--spacing);
}

.stacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stacks li {
  background: #ebf0ee;
  padding: 8px 12px;
  text-transform: capitalize;
  border-radius: 5px;
  color: var(--clr-primary);
}

.project-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

/* set buttons */
.prev-btn,
.next-btn {
  color: var(--clr-secondary);
  padding: 0.25rem 0.35rem;
  background: transparent;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .slide-container {
    height: 50vh;
  }

  .slide {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-content {
    margin-top: 3rem;
  }

  .protect-text {
    margin-top: 1rem;
  }

  .next-btn {
    right: -5rem;
  }

  .prev-btn {
    left: -5rem;
  }

  .project-btns {
    margin-bottom: 0;
    margin-top: 3rem;
  }
}
